name: zowe-test
## Notes:
# A sample zOS DBB workflow
# Global vars
env:
  # a var with a valid SSH acct on Z. With pre-gen'd and tested keys in the runner.
  DBB_Host: 'ssh laurenl@10.3.20.201'
  Zowe_RSE_WorkDir: '--cwd /u/laurenl'
  
  # scripts on z/OS (SSH user's Home Dir in Unix - USS). See SSH scripting Doc
  # HERE
  Echo: 'ibm/echo.sh'
  Clone: 'ibm/git-clone.sh'
  DBB_Build: 'ibm/dbb-build.sh'

# "on" trigger to manually start this workflow. Can add "pull, push..." for auto trigger.
# see https://docs.github.com/en/actions/learn-github-actions/contexts
on: workflow_dispatch

jobs:
  DBB_Build_on_zOS:
    runs-on: self-hosted
    env:
      # Project related vars
      MyRepo: git@github.com:${{ github.repository }}.git
      MyWorkDir: tmp/ghActions/ghAction-poc-workspace_run_${{ github.run_number }}
      MyWorkSpace: dbb-zappbuild
      MyBranch: ${{ github.ref }}
      
    steps:
      - name: Echo
        run: ${{ env.Zowe_RSE_Prefix }} ${{ env.Echo }} ${{ env.Zowe_RSE_WorkDir}}
        
#       - name: Clone
#         run: ${{ env.DBB_Host }} ${{ env.Clone }} ${{ env.MyRepo }} ${{ env.MyWorkDir }} ${{ env.MyWorkSpace }} ${{ env.MyBranch }}
    
#       - name: DBB_Impact_Build
#         run: ${{ env.DBB_Host }} ${{ env.DBB_Build }} ${{ env.MyWorkDir }} ${{ env.MyWorkSpace }} ghAction-poc-app --impactBuild
